<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ng-container>

    <ng-container>
      <!-- <ng-container *ngIf="reports.keys.length > 0; else empty"> -->
        <ion-row>
          <ion-col class="centerText" size="2">
            <h6 style="font-weight: 600;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;" style="color:black">Sr No</h6>
          </ion-col>
          <ion-col class="centerText" size="4">
            <h6 style="font-weight: 600;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;" style="color:black">Location ID <br> No</h6>
          </ion-col>
          <ion-col class="centerText" size="3">
            <h6 style="font-weight: 600;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;" style="color:black">Trap Date Time</h6>
          </ion-col>
          <ion-col class="centerText" size="3">
            <h6 style="font-weight: 600;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;" style="color:black">Status</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="centerText" size="2">
            <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">1</h6>
          </ion-col>
          <ion-col class="centerText" size="4">
            <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{'ABC'}}</h6>
          </ion-col>
          <ion-col class="centerText" size="3">
            <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{'01-12-2022'}}</h6>
          </ion-col>
          <ion-col class="centerText" size="3">
            <h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{'ABCD'}}</h6>
          </ion-col>
        </ion-row>
    </ng-container>
  </ng-container>

</ion-content>
